// VARIABLES

$highlited: rgb(126, 105, 105);
$secondary-highlited: #ffcd6f;

// FONTS IMPORT (RUBIK)

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// GLOBAL STYLES

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Rubik', sans-serif;
	overflow-x: hidden;
}

.INFORMATION {
	display: none;
	width: 100%;
	height: 3vh;
	padding-bottom: 10px;
	color: #fff;
	text-decoration: underline;
	padding: 10px;
	border-radius: 10px;

}

@media screen and (max-width: 860px) {
	.INFORMATION {
		display: initial;
	}
}

body {
	transition: all 300ms ease;
}

*::selection {
	background-color: #00a2a5;
}


hr {
	border-bottom: 1px solid grey;
}

.highlighted {
	color: $highlited;
}

.p-highlighted {
	color: $secondary-highlited;
	font-weight: 600;
}

.nadekhine /* class nadehine = display none*/ {
	display: none;
}

// NAV

body[data-nav="true"] {
	// position: absolute;
	// background-color: black;
	left: 400px;
	transition: all 300ms ease;
}



.mobile-active-open {
	position: fixed;
}

.mobile-active-open::before {
	content: '';
	z-index: 2000;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: red;
	opacity: 0.3;
}

body.is-active {
	background-color: red;
}


.navbar {
	position: fixed;
	width: 100%;
	z-index: 2;
	padding: 25px 45px;
	// transition: all 0.3s ease;
}

.navbar.sticky {
	position: fixed;
	background: rgba(0, 0, 0, 0.9);
	// padding: 0px 25px;
	box-shadow: 5px 3px 5px 5px rgba(0, 0, 0, 0.1);

	.bubble {
	// margin: 20px 25px;
	}
}

.navbar .content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	right: 100%;
}

.navbar .logo a {
	color: #fff;
	font-size: 30px;
	font-weight: 600;
	text-decoration: none;
}

.navbar .menu-list {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	

	.bubble {
		right: 2px;
		transition: all 0.5s ease;
	}

	.nav-main-btn {

			display: flex;
			align-items: center;
			justify-content: center;
			width: 200px;
			height: 50px;
			border: 2px solid #fff;
			color: #fff;
			// margin: 20px;
			margin-left: 20px;
			transition: all 150ms ease-out;
			border-radius: 10px;

			&:hover {
				box-shadow: 5px 5px #fff;
				transform: translateX(-5px) translateY(-5px);
			}
		

			&:active {
				transform: scale(1.04);
			}
	}

	@media screen and (max-width: 768px) {
		margin: 0;
		align-self: center;
	}
}

.menu-list li {
	list-style: none;
}

.menu-list li a {
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px;
	text-decoration: none;
	// transition: all 0.3s ease;
}

.menu-list li a:hover {
	color: #007bff;
}

.banner {
	background: url("banner.jpg") no-repeat;
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.about {
	padding: 30px 0;
}

.about .title {
	font-size: 38px;
	font-weight: 700;
}

.about p {
	padding-top: 20px;
	text-align: justify;
}

.icon {
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	display: none;
}

.menu-list .cancel-btn {
	position: absolute;
	right: 30px;
	top: 20px;
}

@media (max-width: 1230px) {
	.content {
		padding: 0 60px;
	}
}

@media (max-width: 1100px) {
	.content {
		padding: 0 40px;
	}
}

@media (max-width: 900px) {
	.content {
		padding: 0 30px;
	}

	.bubble {
		display: none;
	}
}

@media (max-width: 868px) {
	body.disabled {
		overflow: hidden;
	}

	.icon {
		display: block;
	}

	.icon.hide {
		display: none;
	}

	.navbar .menu-list {
		position: fixed;
		height: 100vh;
		width: 100%;
		max-width: 400px;
		left: -100%;
		top: 0px;
		display: block;
		padding: 40px 0;
		text-align: center;
		background: #222;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.navbar.show .menu-list {
		left: 0%;
	}

	.navbar .menu-list li {
		margin-top: 45px;
	}

	.navbar .menu-list li a {
		font-size: 23px;
		margin-left: -100%;
		transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}

	.navbar.show .menu-list li a {
		margin-left: 0px;
	}
}

@media (max-width: 380px) {
	.navbar .logo a {
		font-size: 27px;
	}
}

body[data-nav='true']>body::before {
	display: block;
}

a {
	text-decoration: none;
}

// NAV (MAIN)
header {
	color: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	// background-color: #12002F;


	// LARGE / MEDIUM DEVICE


	.container {
		padding-top: 32px;
		padding-bottom: 32px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		h2 a {
			cursor: default;
			color: inherit;
			text-transform: uppercase;
			font-size: 32px;
			letter-spacing: 5px;
			font-weight: 900;

			span {
				font-weight: 600;
			}
		}

		nav {
			display: grid;
			grid-gap: 16px;
			grid-template-columns: repeat(4, auto);

			@media (max-width: 767px) {
				display: none;
			}

			.active {
				color: rgb(126, 105, 105);
				position: relative;
				transition: color 300ms ease;

			}

			.active::after {
				content: '';
				height: 3px;
				width: 100%;
				position: absolute;
				border-radius: 10px;
				right: 0px;
				top: 25px;
				background-color: rgb(126, 105, 105);
				transition: background-color 300ms ease;
			}

			.active:hover {
				color: white;

				&::after {
					background-color: white;
				}
			}

			a {
				color: inherit;
				font-size: 20px;
				text-decoration: none;
			}

			a:hover {
				color: rgb(126, 105, 105);
			}


		}
	}

	&.is-scrolling {
		background-color: rgba(0, 0, 0, 0.95);

		.container {
			padding-top: 16px;
			padding-bottom: 16px;
		}
	}
}

// HOME

.container {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	padding-left: 128px;
	padding-right: 128px;

	@media (max-width: 1024px) {
		padding-left: 64px;
		padding-right: 64px;
	}

	@media (max-width: 767px) {
		padding-left: 32px;
		padding-right: 32px;
	}
}

section {
	h2 {
		text-align: center;
		margin-bottom: 32px;
		text-transform: uppercase;

		color: #313131;
		font-size: 36px;
	}
}

// ABOUT 


.about-sec-border {
	width: 100vh;
	height: 5px;
	background: $secondary-highlited;
	margin: 26px auto;
	border-radius: 10px;
}

.testimonials-sec-border {
	width: 100vh;
	height: 5px;
	background: $highlited;
	margin: 26px auto;
	border-radius: 10px;
}

.btn-posnawr {
	color: wheat;
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	height: auto;
	max-width: 250px;
	border-radius: 8px;
	font: normal 18px/60px 'proxima-nova', sans-serif;
	text-align: center;
	text-decoration: none;
	border: 2px solid wheat;
}

.btn-posnawr span {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-radius: 50%;
	background-color: $highlited;
	-webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
	transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: -1;
}

.btn-posnawr:hover {
	color: #eee;
}

.btn-posnawr:hover span {
	width: 225%;
	height: 562.5px;
}

.btn-posnawr:active {
	background-color: wheat;
}

img {
	max-width: 100%;
}

main {

	section.home {
		color: #FFF;
		position: relative;
		min-height: 100vh;
		display: flex;
		align-items: center;

		background-image: url('../images/MAIN_IMAGE.jpg');
		background-position: top right;
		background-size: cover;

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 0;
			background-color: black;
			opacity: 0.8;
		}

		.container {
			position: relative;
			z-index: 1;

			h1 {
				font-size: 72px;
				margin-bottom: 32px;


				@media (max-width: 767px) {
					font-size: 32px;
				}
			}

			h3 {
				font-size: 36px;
				font-weight: 400;
				margin-bottom: 32px;

				@media (max-width: 767px) {
					font-size: 20px;
				}
			}
		}
	}

}

@media (max-width: 767px) {
	.hide-mob {
		display: none;
	}
}


// ABOUT US 

.about-us {
	height: auto;
	width: 100%;
	position: relative;
	max-width: 100%;


	.main-content {
		padding: 50px 20px 0 10px;
		display: flex;

		justify-content: space-between;


		.text-content {
			margin-bottom: 50px;
			max-width: 50%;

			h1 {
				font-size: 3rem;
				font-weight: bolder;
			}

			p {
				font-size: 1.3em;
			}
		}

		.main-image {
			margin-bottom: 20px;
			border-radius: 20px;
		}
	}

	margin-bottom: 100px;
}

@media screen and (max-width: 768px) {

	#about-us {
		padding: 0;
		margin-bottom: 300px;

		.main-content {
			flex-direction: column;

			.text-content {
				margin: 10px;
				max-width: 100%;

				h1 {
					font-size: 2em;
					// margin: 10px;
				}

				p {
					margin: 1em;
				}
			}

			.main-image {
				position: relative;
				margin: 0;
				// border-radius: 10px;
				// padding: 0px;
				height: auto;
				width: auto;
				// height: 350px;
				padding-left: 60px;
				width: 100%;
			}

		}
	}
}


// TESTIMONIALS
.testimonials {
	width: 100%;
	padding: 40px 0;
	background: #f1f1f1;
	color: #434343;
	text-align: center;
}

.inner {
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
	padding: 0 20px;
}

.border {
	width: 160px;
	height: 5px;
	background: $highlited;
	margin: 26px auto;
	border-radius: 10px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.col {
	flex: 33.33%;
	max-width: 33.33%;
	box-sizing: border-box;
	padding: 15px;
}

.testimonial {
	border-radius: 20px;
	background: #fff;
	padding: 30px;
}

.testimonial img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.name {
	font-size: 20px;
	text-transform: uppercase;
	margin: 20px 0;
}


@media screen and (max-width:960px) {
	.col {
		flex: 100%;
		max-width: 80%;
	}
}

@media screen and (max-width:600px) {
	.col {
		flex: 100%;
		max-width: 100%;
	}
}

// Teacher's Info 

.teachersInfo {

	.upper-content {
		text-align: center;
	}

	.hidden {
		display: none;
	}

	.teacher {
		// border: 1px solid black;
		border-radius: 10px;
		margin: 20px;
		padding-top: 20px;
		position: relative;
		background-color: #f1f1f1;
		text-align: center;

		img {
			border-radius: 20px;
		}
	}

	.viewMore {
		.more {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 200px;
			height: 50px;
			border: 2px solid black;
			margin: 20px;
			transition: all 150ms ease-out;
			border-radius: 10px;

			

			&:hover {
				box-shadow: 5px 5px #808080;
			}

			&:active {
				transform: scale(1.1) translateY(-5px);
			}
		}
	}

}

// FOOTER 

footer {
	// padding-top: 30px;
	height: 30vh;
	z-index: 9999;
	width: 100%;
	display: flex;
	justify-content: space-around;
	background-image: url(../images/Footer_image.jpg);
	mix-blend-mode: darken;
	flex-direction: column;
	color: $secondary-highlited;

	&:after {
		content: '';
		display: block;
		position: absolute;
		// top: 0;
		// left: 0;
		// right: 0;
		// bottom: 0;
		z-index: -10;
		background-color: black;
		opacity: 0.3;
		height: 30vh;
		width: 100%;
	}

	.content {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		
	}

	.first-content {
		display: flex;
		width: 50%;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		
				h1 {
					font-size: 30px;
					font-weight: bolder;
				}
	}

	.second-content {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;

		.content-content {
			align-self: center;
			justify-self: center;
			margin: 0px 14px 0px 14px;
		}

		a h4{
			color: inherit;
			padding-bottom: 0px;
			text-decoration: underline;
		}

	}

}

@media screen and (max-width: 768px) {
	footer {
		align-items: center;
		justify-content: center;
		flex-direction: column;

		.first.content {
			width: 100%;
		}

		.second.content {
			width: 100%;

			.content-content {
				margin: 0;
				margin: 20px;
			}
		}
	}

}

// BOTTOM-FOOTER 

.bottom-footer {
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;

	h5 {
		font-size: 0.7em;
		color: white;
	}
}

